define host{
  use linux-server
  host_name server
  alias server
  contact_groups admins
  address {{nagios_nrpe_ip}}
}

define hostgroup{
  hostgroup_name servers
  alias Servers
  members server
}

define service{
  use generic-service
  host_name server
  service_description Current Users
  contact_groups admins
  check_command check_remote_users
}

define service{
  use generic-service
  host_name server
  service_description Postgresql
  contact_groups admins
  check_command check_postgresql
}

define service{
  use generic-service
  host_name server
  service_description ElasticSearch Cluster Health
  contact_groups admins
  check_command check_elasticsearch_cluster_health
}

define service{
  use generic-service
  host_name server
  service_description Nginx status
  contact_groups admins
  check_command check_nginx_status
}

define service{
  use                             generic-service
  host_name                       server
  service_description             SSH
  contact_groups                  admins
  check_command                   check_ssh_nrpe
}

define service{
        use                     generic-service
        host_name               server
        service_description     HTTP
        contact_groups          admins
        check_command           check_http_nrpe
}

define service{
        use                     generic-service
        host_name               server
        service_description     PING
        contact_groups          admins
        check_command           check_ping_nrpe
}


define service{
        use                     generic-service
        host_name               server
        service_description     Current load
        contact_groups          admins
        check_command           check_load_nrpe
}

define service{
        use                     generic-service
        host_name               server
        service_description     Local procs
        contact_groups          admins
        check_command           check_procs_nrpe
}

define service{
  use generic-service
  host_name server
  service_description Check postgres connection
  contact_groups admins
  check_command check_pg_connection
}

define service{
  use generic-service
  host_name server
  service_description Check postgres bloat
  contact_groups admins
  check_command check_bloat
}

define service{
  use generic-service
  host_name server
  service_description Check backends
  contact_groups admins
  check_command check_backends
}

define service{
  use generic-service
  host_name server
  service_description Check db size
  contact_groups admins 
  check_command check_db_size
}

define service{
  use generic-service
  host_name server
  service_description Check query time
  contact_groups admins
  check_command check_query_time
}